[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-rest-framework = "*"
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
dj-database-url = "*"
gunicorn = "*"
psycopg2 = "*"
django-dotenv = "*"

[requires]
python_version = "3.7"
