asgiref==3.2.7
certifi==2019.11.28
coverage==5.0.4
dj-database-url==0.5.0
Django==3.0.4
django-cors-headers==3.2.1
django-dotenv==1.4.2
django-rest-framework==0.1.0
djangorestframework==3.11.0
gunicorn==20.0.4
numpy==1.18.2
pandas==1.0.3
psycopg2==2.8.4
python-dateutil==2.8.1
pytz==2019.3
sentry-sdk==0.14.3
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.8
