HttpListener:
  Type: AWS::ElasticLoadBalancingV2::Listener
  Properties:
    LoadBalancerArn: arn:aws:elasticloadbalancing:us-west-2:643639540746:loadbalancer/app/awseb-AWSEB-1AGZ8YUL5GXUZ/5cd2e97f343574fb
    Port: 80
    Protocol: HTTP
    DefaultActions:
    - Type: redirect 
      RedirectConfig:
        Protocol: HTTPS
        StatusCode: HTTP_301
        Port: 443